*.changes
*.ddeb
*.deb
*.dsc
*.dylib
*.elc
*.o
*.so
.emacs-*
.emacs.*
CMakeLists.txt.user
build
src/debian
src/packages/debian/*.debhelper*
src/packages/debian/*.substvars
src/packages/debian/.debhelper/
src/packages/debian/files
src/packages/debian/rules
src/packages/debian/texmacs/
texmacs.1
/src/src/Makefile
/src/.qmake.stash
