*.changes
*.ddeb
*.deb
*.dsc
*.dylib
*.elc
*.o
*.so
*~
.emacs-*
.emacs.*
/src/.qmake.stash
/src/src/Makefile
CMakeLists.txt.user
build
src/autom4te.cache/
src/BROWSE
src/debian
src/obj-x86_64-linux-gnu/
src/packages/debian/*.debhelper*
src/packages/debian/*.substvars
src/packages/debian/.debhelper/
src/packages/debian/autoreconf.after
src/packages/debian/autoreconf.before
src/packages/debian/changelog
src/packages/debian/control
src/packages/debian/debhelper-build-stamp
src/packages/debian/files
src/packages/debian/rules
src/packages/debian/texmacs/
src/src/System/config.h
texmacs.1
